/* General */
body{
    margin: 0;
    font-family: 'Literata', serif;

}
.btn{
    padding: 10px 30px;
    vertical-align: middle;
    background: #767c2a;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    letter-spacing: 0.5px;
    transition: 0.3s ease-in;
    text-transform: uppercase;
}
.btn:hover{
    background:#626919;
}
.space{
    padding: 70px 80px 70px;
}
.center{
    text-align: center;
}
h2{
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}


/* Header */
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    border-bottom: 1px solid white;
}
.header .logo{
    width: 128px;
    height: 54px;
}
.header .logo figure{
    margin: 0;
    width: 100%;
    height: 100%;
}
.header .logo figure a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header .navigation,
.header .login{
    margin-top: 15px;
}

.header .navigation ul{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
.header .navigation ul li{
    list-style: none;
    display: inline-block;
}
.header .navigation ul li a{
    padding: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #fdfdfd;
    transition: 0.3s ease-in;
}
.header .navigation ul li a:hover{
    color: #767c2a;
}
.header .navigation ul li a.active{
    color: #767c2a;
    font-weight: 600;
}


/* Banner */
.banner{
    height: 350px;
    position: relative;
}
.banner .banner-content{
    
    position: absolute;
    width: 50%;
    margin: 100px auto;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    color: #fff;
    font-style: italic;
}
.banner .banner-content .btn{
    margin-top: 15px;
    font-style: normal;
    display: inline-block;
    width: 120px;
    text-transform: uppercase;
}


/* Main Content */
.main-content{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.main-content .main-content-image,
.main-content .main-content-description{
    width: 49%;
    color:#fdfdfd;
}
.main-content .main-content-image img{
    width: 90%;
    object-fit: contain;
}

/*Main Content of page Portfolio*/
.portfolio-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:black;
}
.portfolio-contact .contact-container{
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 80px;
    margin-right: 80px;
}
.portfolio-contact .contact-container h2{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.portfolio-contact .contact-container p{
    color:#fff;
}
.portfolio-contact .contact-container .btn{
    display: inline-block;
    margin-top: 15px;

}

/*Main Content of page about*/
.about-main-content{
    background: white;
    padding-bottom:70px;
}
.main-container ul {
    margin-right: 40px;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    color: black;
    transition: 0.3s ease-in;
}
.about-main-content .main-container ul li{
    list-style: none;
    display: inline-block;
    padding: 0 30px;
    text-align: center;
}
.about-main-content .main-container ul li .feature-title{
    border-bottom: 5px solid #cfcfbb ;
    
    
}
.about-main-content .main-container ul li .icon-feature img{
    width: 40%;
    height: 40%;
    object-fit: contain;
    
}
.feature-label{
    font-size: 40px;
    color: #767c2a;
}
.about-main-content .main-container .feature-text{
    margin-top:25px;
}
.strapline h1{
    position: relative;
    margin-bottom: 0;
    padding: 40px 0px;
    color: #fff;
    background: #767c2a;
    text-align: center;
}
.strapline h1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid #767c2a;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    transform: translateX(-50%);
}
.teamworker{
    display: row;
    justify-content: space-between;
    background-color: black;
    padding: 75px;
}
.teamworker .photographer{
    display: flex;
    color:#fdfdfd;
    padding-bottom: 75px;
}
.teamworker .photographer img{
    width: 26%;
    object-fit: contain;
}
.teamworker .photographer .biography-box {
    margin: 80px;
}
.biography-box h2{
    text-transform:uppercase;
}
.biography-box .description-text{
    text-transform: uppercase;
    color: #767c2a;
}

/*Main Content of page contact*/
.flex{
    display: flex;
    justify-content: space-between;
}
.mb-30{
    margin-bottom: 30px;
}
form .form-group{
    margin-bottom: 15px;
}

form .main-input{
    height: 36px;
    width: 500px;
    padding: 6px 20px;
    border-radius: 3px;
    border: 1px solid #ced4da;
    font-family: 'Literata';
    font-size: 16px;
}
form .main-input:focus{
    border: 2px solid #767c2a;
    outline: none;
}
form .main-textarea{
    resize: none;
    height: auto;
}
form button[type=submit]{
    border: none;
    min-width: 150px;
    font-family: 'Literata';
    font-size: 16px;

}
.flex.form-group-submit-wrapper{
    justify-content: flex-end;
}
.contact-box-info{
    width: 700px;
}
.contact-box-info .box-wrapper{
    width: 360px;
    background: #767c2a;
    padding: 40px;
    border-radius: 3px;
    height: 248px;
}
.contact-box-info .box-wrapper ul li{
    margin-bottom: 10px;
}
.contact-box-info .box-wrapper a{
    color: #fff;
    display: inline-block;
    padding-left: 40px;
    position: relative;
    text-decoration: none;
    transition: color .3s ease-in;
}
.contact-box-info .box-wrapper a:hover{
    color: black;
}
.contact-box-info .box-wrapper .icon{
    position: absolute;
    left: 0;
    top: -9px;
}
.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}
form .text-error{
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
.hide{
    display: none;
}



/* Portolio */
.portfolio.space{
    padding-top: 35px;
    padding-bottom: 80px;
    background: #fff;
}
.portfolio .center h2{
    margin-bottom: 50px;
}

.portfolio .portfolio-item {
    width: 31%;
    padding: 0 0px 0 0;
    display: inline-block;
}
.portfolio-item:nth-child(1){
    padding-right: 43px;
}
.portfolio-item:nth-child(2){
    padding-right: 43px;
}
.portfolio .portfolio-item .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 25px 50px;
    transition: 0.4s;
}
.portfolio .portfolio-item .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}
.portfolio .portfolio-item .card a{
    text-decoration: none;
}
.container {
    padding: 2px 16px;
    text-align: center;
    color: black;
}

/*Portfolio of page portfolio*/
.portfolio .portfolio-page-item{
    width: 33%;
    padding: 0 0px 0 0;
    display: inline-block;
}
.portfolio .portfolio-page-item:last-child{
    padding-right: 0;
}

.portfolio .portfolio-page-item figure{
    margin: 0;
    overflow: hidden;
    
} 
.portfolio .portfolio-page-item figure,
.portfolio .portfolio-page-item figure img{
    width: 100%;
    height: 400px;
    display: inline-block;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform .5s ease-in;
}

.portfolio .portfolio-page-item figure:hover img{
    transform: scale(1.5);
}


/* Footer */
footer{
    background: #cfcfbb;
}
footer p{
    color: black;
    margin: 0;
}
footer .content.space{
    padding: 50px 80px 30px;
}
footer .content .footer-widget{
    width: 33%;
    display: inline-block;
}
footer .content .footer-widget a{
    display: inline-block;
    width: 140px;
    height: 67px;
}
footer .content .footer-widget a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-bottom: 10px;
}
footer .content .footer-widget h3{
    margin-top: 0;
    margin-bottom: 15px;
    color: black;
    text-transform: uppercase;
}

footer .content .footer-widget .footer-content a{
    display: contents;
    width: unset;
    height: unset;
    color: black;
    text-decoration: none;
    margin-bottom: 17px;
}
footer .content .footer-widget .footer-content a:last-child{
    margin-bottom: 0;
}
.fa{
    margin-top: 15px;
    margin-right: 8px;
}

footer .footer-widget .social-media-list.footer-content a{
    display: inline-block;
    padding-right: 15px;
}
footer .content .footer-bottom{
    margin-top: 80px;
    padding-top: 20px;
    border-top: 1px solid #fff;
}
footer .content .footer-bottom p{
    margin: 0;
}